html{
    font-size: 66.5%;
}
h1{
    font-size: 4rem;
}
.outer-form{
    width: 80vw;
    height: auto;
    border: 2px solid black;
    border-radius: 10px ;
    padding:  30px;
    margin-left: 10vw;
    background-color: #D5F3FE;
}
.form-div{
    
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content:space-between;
    align-items: flex-start;
    height: 10vh;
    flex-wrap: wrap;
    flex-basis: 20vw;
}
.form-div label{
    font-size: 2rem;
}
select,input[type='text']{
    width: 100%;
    min-width: 15vw;
    max-width: 20vw;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.75rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    height: 6vh;
}
select
{
    margin-right: 10%;
}
textarea{
    padding: 1%;
    width: 50%;
    margin-right: 20%;
}
fieldset {
    border: 10px solid transparent; 
    border-top-color: black; 
    box-sizing: border-box; 
    grid-area: 1 / 1; /* first row, first column */
    padding: 20px; 
    width: inherit; 
  }
#btn{
    margin-top: 9vh;
    border: solid black 2px;
    width: 10vw;
    height: 7vh;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #fff;
}  