{% include 'admin_area/admin_header.html' %}


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active" style="background-color:white">Add Category</h2>

    <!-- add product Form -->
    <form action="/add_category/" method="POST" >
      {% csrf_token %}
      
      <div><label for="product_name">Category Name:</label></div>
      <input type="text" class="fadeIn second" name="c_name" id="c_name" placeholder="Category Name" >
      <br><br>
      <input type="submit" class="fadeIn fourth" value="Save Category">
      <br><br>
      <div><br></div>
    </form>
  </div>
</div>
</body>
</html>