{% include "admin_area/admin_header.html" %}



<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active" style="background-color:white">Add Products</h2>

    <!-- add product Form -->
    <form action="/add_product/" method="POST" onsubmit=" return validatePrice()"  enctype="multipart/form-data">
      {% csrf_token %}
      
      <div><label for="product_name">Product Name:</label></div>
      <input type="text" name="p_name" id="product_name" placeholder="Product Name" >

     <div style=""> <label for="category">Category</label> </div>
      <select name="category" id="category" placeholder="Select category">
        {% for cat in Allcat %}
        <option value="{{cat.id}}"> {{cat.name}}</option>
        {% endfor %}
      </select>

       <div><label for="price">Price :</label></div>
      <input type="text" name="price" id="price" placeholder="Enter Price">

      <div> <label for="instock">In stock :</label></div>
      <input type="text" name="instock" id="instock" placeholder="No. of items"><br>

      <div><label for="image1">Image 1 : </label></div>
      <input type="file" name ="image1" required> <br>

      <div> <label for="image2">Image 2 : </label></div>
      <input type="file" name="image2" required> <br>

      <div><label for="image3">Image 3 : </label></div>
      <input type="file" name="image3" required> <br>

      <div><label for="description">Description : </label> </div>
      <textarea name="description" class="fadeIn second" id="desc" cols="30" rows="4"></textarea> 

      <input type="submit" class="fadeIn fourth" value="Save Product">

      <div></div>

    </form>

  </div>
</div>


<script src="../static/js/price_validate.js"></script>

</body>
</html>