{% include 'admin_area/admin_header.html' %}


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active" style="background-color:white">Edit Category</h2>

    <!-- add product Form -->
    {% for cat in category %}
    <form action="/edit_category/?cat_id={{cat.id}}" method="POST">
      {% csrf_token %}
      
      <div><label for="c_name">Category Name:</label></div>
      <input type="text" name="c_name" id="c_name" placeholder="Category Name"  value="{{cat.name}}" >
      <br><br>
      <input type="submit" class="fadeIn fourth" value="Save Category">
      <br><br>
      <div><br></div>
    </form>
    {% endfor %}
  </div>
</div>

</body>
</html>