{% include "header.html" %}
{% load static %}


<!------------------------------ SLIDE SHOW SECTION ------------------------------------------>

<div class="container">
    <img name="slide" width="100%" height="550px" />
</div>


<!------------------------------------ SLIDE SHOW SECTION ENDS------------------------------------------>

<hr id="line">

<!------------------------------------ LATEST PRODUCT INTRO------------------------------------------------>

<div class="container offer">
  <div class="small-container">
      <div class="row">
          <div class="col-6 m-auto">
              <img src="{% static 'img/ct2.jpg' %}" alt="img" class="offer-image" >
          </div>
          <div class="col-6 m-auto">
              <p>Now Avialabe for order</p>
              <h1>Album Explosion Box</h1>
              <small>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.It is a long  established fact that a reader will be distracted by the readable content of a page when looking at its layout.
              </small>
          </div>
      </div>
  </div>
</div>

<!------------------------------- end latest product ----------------------------------->


<hr id="line">

<!------------------------------- LATEST 3 PRODUCT ----------------------------------->

{% for prd in products  %}
     <div class='product-card'>
      <div class='main-images'>
      <a href='#' ><img  class=' active' src="{{prd.img1.url}}"></a>
      </div>
      <div class='product-details'>
        <br>
        <span class='product_name'><a href='#' >{{ prd.name }}</a></span>
        <div class='stars'>
          
          <i class='bx bxs-star' ></i>
          <i class='bx bxs-star' ></i>
          <i class='bx bxs-star' ></i>
          <i class='bx bxs-star' ></i>
          <i class='bx bx-star' ></i>
        </div>
      </div>
      <div class='color-price'>
        <div class='color-option'>
          <span class='color'>Price:</span>
        </div>
        <div class='price'>
          <span class='price_num'>{{ prd.price }}</span>
        </div>
      </div>
      <div class='button'>
        <div class='button-layer'></div>
        
        <a href ='#'><button >View Item </button></a>
        
      </div>
    </div>
    
    {% endfor %}

<!------------------------------- end latest 3 prod ----------------------------------->

<hr id="line">

<!------------------------------- testimonials ----------------------------------->

<div class="container">

    <div class="testimonial">
        <div class="small-container">
            <div class="row" id="testimonial">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.It is a long  established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="images/user-icn-min.png" alt="img">
                    <h3>Name Name</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.It is a long  established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="images/user-icn-min.png" alt="img">
                    <h3>Name Name</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.It is a long  established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="images/user-icn-min.png" alt="img">
                    <h3>Name Name</h3>
                </div>
            </div>
        </div>
      </div> 

</div>

   
{% include "footer.html" %}