{% include "header.html" %}

<div class="product-box">

    <!-- side nav bar -->
    <div class="side-nav">
        <ul class="category">
            <li class="list-header">
                <a href="" class=>Category</a>
            </li>

            <li class='nav-item'>
                <a href='products.php?category=$category_id' class='nav-link text-light'>cat 1</a>
            </li> 
                
            <li class='nav-item'>
                <a href='products.php?category=$category_id' class='nav-link text-light'>cat 1</a>
            </li> 
                
            <li class='nav-item'>
                <a href='products.php?category=$category_id' class='nav-link text-light'>cat 1</a>
            </li>
        </ul>

        <ul class="category">
            <li class="list-header">
                <a href="" class="">Sort by</a>
            </li>

            <li class='nav-item'>
                <a href="" class="">cat 1</a>
            </li> 
                
            <li class='nav-item'>
                <a href=" " class="">cat 1</a>
            </li> 
                
            <li class='nav-item'>
                <a href='products.php?category=$category_id' class="">cat 1</a>
            </li>
        </ul>
            
    </div>

    <!-- main product display-->
    <div class="main-list">
        <div class="row px-3">
            
            {% for product in products %}

            <div class='col-md-4 mb-2'>
                <div class='card'>
                    <img class='card-img-top' src='./admin_area/product_images/$product_image1' alt='Card image cap'>
                        <div class='card-body'>
                                <h5 class='card-title'>product_title</h5>                                    
                                <p class='card-text'>product_desc</p>
                                <a href='#' class='btn btn-primary'>Add to cart</a>
                                <a href='#' class='btn btn-secondary'>View More</a>
                        </div>
                </div>
            </div>
            
            {% endfor %}

        
        </div>
    </div>

</div>



{% include "footer.html" %}